@mixin displayFlex($justC, $alignC, $alignI, $fdirection){
  display: flex;
  justify-content: $justC;
  align-content: $alignC;
  align-items: $alignI;
  flex-direction: $fdirection;
}

@mixin tiles($textA, $fontS, $paddingSizeTop){
  text-align: $textA;
  font-size: $fontS;
  $padding-top: $paddingSizeTop;
}

@mixin titles($fontS-Title,$lineH, $fontW, $textA, $paddingSizeTop){
  font-size: $fontS-Title;
  line-height: $lineH;
  font-weight: $fontW;
  text-align: $textA;
  padding-top: $paddingSizeTop;
}

@mixin authors( $fontSAuthors, $textAuthor, $paddingSizeTop) {
  font-size: $fontSAuthors;
  text-align: $textAuthor;
  padding-top: $paddingSizeTop;
}

@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}