@mixin displayFlex($justC, $alignC, $alignI, $fdirection){
  display: flex;
  justify-content: $justC;
  align-content: $alignC;
  align-items: $alignI;
  flex-direction: $fdirection;
}

// @mixin background($imagepath, $position:0 0, $repeat: no-repeat) {
//   background-image: url($imgagepath);
//   position: $position;
//   repeat: $repeat; 
// }

$splash: url('../Assets/splashBG.png');

@mixin tiles($textA, $fontS, $paddingSizeTop){
  text-align: $textA;
  font-size: $fontS;
  $padding-top: $paddingSizeTop;
}

@mixin titles($fontS-Title,$lineH, $fontW, $textA, $paddingSizeTop){
  font-size: $fontS-Title;
  line-height: $lineH;
  font-weight: $fontW;
  text-align: $textA;
  padding-top: $paddingSizeTop;
}

@mixin authors( $fontSAuthors, $textAuthor, $paddingSizeTop) {
  font-size: $fontSAuthors;
  text-align: $textAuthor;
  padding-top: $paddingSizeTop;
}