@import './normalize';
@import './variables';
@import '../Components/App/App.scss';
@import '../Components/Begin/_begin.scss';
@import '../Containers/Options/_options.scss';
@import '../Containers/BooksContainer/bookscontainer.scss';
@import '../Components/Error/error.scss';
@import '../Components/Loading/loading.scss';
@import '../Containers/Main/main';
@import '../Components/Book/book';
@import '../Containers/Nav/nav';
@import '../Containers/TravelContainer/_travelContainer.scss';
@import '../Components/Card/Card';
@import '../Containers/SportContainer/_sportsContainer.scss';

* {
  margin: 0;
  padding: 0;
}

html, body, #app, #app>div {
  height: 100%
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
