@import './normalize';
@import './variables';
@import '../Components/App/App.scss';
@import '../Components/Begin/_begin.scss';
@import '../Containers/Options/_options.scss';
@import '../Containers/BooksContainer/bookscontainer';
@import '../Components/Error/error.scss';
@import '../Components/Loading/loading.scss';
@import '../Containers/Main/main';
@import '../Components/Book/book';
@import '../Containers/TravelContainer/travelContainer';
@import '../Components/Card/Card';
@import '../Containers/SportContainer/sportContainer';
@import '../Containers/TopNewsContainer/topNewsContainer';
@import '../Components/Item/item';
@import '../Components/Time/time';

* {
  margin: 0;
  padding: 0;
}

html, body, #app, #app>div {
  height: 100%
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}