@import '../../Sass/_variables';

.Options-background {
  background-image: $splash;
}
.Options-header {
  background-color: #ccd0d56b;
  margin: 0;
  width: 100vw;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .Options-title {
    margin: 0;
    font-family: 'Old Standard TT', serif;
    text-align: center;
    font-size: 3rem;
    padding-top: 8px;
  }
}

.Options-news {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
}
.Options-select {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.Options-wrapper {
  background-size: 100% 100%;
  width: 100vw;
  height: 87vh;
  display: flex;
  justify-content: space-evenly;
}

.Options-btn {
  padding: 10px;
  position: relative;
  text-decoration: none;
  color: #000;
  border: solid 1px #186f8f;
  border-radius: 5px;
  text-transform: uppercase;
  z-index: auto;
  box-shadow: 3px 3px 2px #837a7a;
  height: 70px;
  width: 224px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
}
.Options-btn:hover {
  padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2cffc9), color-stop(1, #ffffff));
    color: white;
    background: black;
}

.Options-btn::before {
  background-color: #ccd0d56b;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px;
  left: -8px;
  top: -8px;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}

.Options-btn::active {
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  top: 1px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(62,184,229)), color-stop(1, rgb(44,160,202)) );
}

.Options-fontawesome {
  padding-right: 9px;
  font-size: 23px;
}

.Options-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Options-check {
  min-height: 34px;
  margin: 2rem;
  font-size: 1.5rem;
  color: green;
}
#next{
  width: 100px;
  height: 49px;
  display: flex;
  align-items: center;
}

.Options-continue {
  position: fixed;
  top: 61%;
  left: 47%;
  margin: 0 auto;
}