@import '../../Sass/_variables';


.Options-background {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ),url('../Assets/camera.jpg'); 
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.Options-select-choice {
  font-size: 1.7rem;
  color:white;
}

.Options-header {
  background-color: #000000bd;
  margin: 0;
  width: 100vw;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  border-bottom: 1px solid;
  color: #fff;
  
  .Options-title {
    margin: 0;
    font-family: 'Old Standard TT', serif;
    text-align: center;
    font-size: 3rem;
    padding-top: 8px;
  }
}

.Options-news {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
}
.Options-select {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.Options-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
}

.Options-btn {
  padding: 10px;
  position: relative;
  text-decoration: none;
  color: #000;
  border: solid 1px #186f8f;
  border-radius: 5px;
  text-transform: uppercase;
  z-index: auto;
  box-shadow: 3px 3px 2px #837a7a;
  height: 70px;
  width: 224px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
}
.Options-btn:hover {
  padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2cffc9), color-stop(1, #ffffff));
    color: white;
    background: black;
    cursor:pointer;
}

.Options-btn::before {
  background-color: #ccd0d56b;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px;
  left: -8px;
  top: -8px;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}

.Options-btn:active {
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  top: 1px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(62,184,229)), color-stop(1, rgb(44,160,202)) );
}

.Options-fontawesome {
  padding-right: 9px;
  font-size: 23px;
}

.Options-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Options-check {
  min-height: 34px;
  margin: 2rem;
  font-size: 1.5rem;
  color: green;
}

#next{
  width: 100px;
  height: 49px;
  display: flex;
  align-items: center;
  background-color: #f6f8fb;
  &:hover {
    color: green;
  }
}

.Options-continue {
  display: flex;
  justify-content: center;
}

@media screen and(max-width: 1100px) {
 
  .Options-wrapper {
    max-height: 516px;
    flex-direction: column;
    top: 24%;
    left: 15%;
  }

  .Options-btn-wrapper{
    flex-direction: row;
    min-height: 106px;
  }

  .Options-check {
    min-height: 34px;
    margin-left: 80px;
    font-size: 2rem;
  }

  .Options-continue {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
  }

}

@media screen and(max-width: 903px) {

  .Options-btn {
    // width: 111px;
    // height: 15px;
  }

  .Options-fontawesome{
    // font-size: 14px;
    // min-width: 5rem;
  }

  #next {
  // margin: auto 0;
    // right: 35%;
    // top: 90%;
  }

}