.CardCard-tile {
  border-radius: 8px;
  padding-top: 50px;
  padding-left: 25px;
  font-size: 150%;
  transition: .2s all;
}

.Card-img {
  height: 209px;
  box-shadow: 2px 0px 0px 2px #a99a9a;
  border-radius: 1px;
  width: 252px;
}
.Card-author {
  @include authors( 12px, left, 5px);
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 16px;
}

.Card-title{
  @include titles(.9rem, 1.1875rem, 700, left, 3px)
}

.Card-description{
  @include tiles(left, 1rem, 6px );
  font-family: 'Old Standard TT', serif;

}