.CardCard-tile {
  border-radius: 8px;
  padding-top: 50px;
  padding-left: 25px;
  font-size: 150%;
  transition: .2s all;
}

.Card-wrapper:hover .CardCard-tile{
  opacity: .5;
  transform: scale(.98);
  box-shadow: none;
}

.Card-wrapper:hover .CardCard-tile:hover{
  filter: blur (0px);
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0 8px 20px 0 px rgba(0,0,0,0.125);
}

.Card-img {
  height: 162px;
  box-shadow: 2px 4px 6px 2px #a99a9a;
  border-radius: 2px;
  min-width: 304px;
}
.Card-author {
  @include authors( 12px, left, 5px);
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 16px;
  font-size: 13px;
  font-style: italic;
  color: #ffffff;
}

.Card-title{
  @include titles(.9rem, 1.1875rem, 700, left, 3px);
  padding-bottom: 18px;
  color: #ffffff;
}

.Card-description{
  @include tiles(left, 1rem, 6px );
  font-family: 'Old Standard TT', serif;
  color: #ffffff;
}



