.Item-back {
  background-color: #fdfcfc;
  position: fixed;
  top: 23%;
  left: 14%;
  padding: 10px;
  text-decoration: none;
  border: solid 1px #8ebed0;
  border-radius: 5px;
  text-transform: uppercase;
  z-index: 2;
  color: black;
  width: 65px;

  &:hover {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2cffc9), color-stop(1, #ffffff));
    color: white;
    background: black;
  }
}

.Item-back::before{
  background-color: #ccd0d56b;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px;
  left: -8px;
  top: -8px;
  color: black;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px #000000, 0px 1px 0px #ff9494;
}

.Item-fontawesome {
  font-size: 18px;
}

.Item-wrapper {
  background-image: url('../Assets/solo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: fixed;
  width: 100vw;
  z-index: -1;
  background-position-y: center;
}



.Item-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 617px;
  background-color: #171616a1;
  margin: 8rem 21rem;
}

.Item-author{
  color: white;
  padding: 8px;
  font-size: 13px;
  font-style: italic;
  text-align: left;
}
.Item-rank{
  color: white;
  padding: 8px;
}
.Item-weeks {
  color: white;
  padding: 8px;
}
.Item-title{
  color:white;
  padding: 8px;
  max-width: 544px;
  font-weight: 200;
  font-size: 21px;
  font-family: 'Old Standard TT', serif;
}
.Item-description{
  color: white;
  padding: 8px;
  max-width: 500px;
  text-align: left;
  padding-top: 20px;
  font-family: 'Old Standard TT', serif;
}

.Item-img {
  max-height: 300px;
  max-width: 500px;
  padding: 12px 0px;
}
.Item-content {
  color: white;
  max-width: 500px;
  text-align: left;
  font-family: 'Old Standard TT', serif;
}