.Item-fontawesome {
  font-size: 20px;
  padding-left: 30px;
  animation: bounceRight 1s infinite;
}

.Item-wrapper {
  background-image: url('../Assets/solo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  z-index: -1;

  &::before {
    display: inline-block;
    content: '';
    background-color: #1716166c;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    // display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 617px;
    position: relative;
    z-index: 2;

    &:nth-child(1) {
      color:white;
      padding: 8px;
      max-width: 544px;
      font-weight: 200;
      font-size: 21px;
      font-family: 'Old Standard TT', serif;
    }

    &:nth-child(3-5) {
      color: white;
      padding: 8px;
      font-size: 13px;
      font-style: italic;
      text-align: left;
  }

}
  .Item-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    color: green;
    width: 65px;
    
    &:hover {
      cursor: pointer;
    }
    
    p {
      text-transform: capitalize;
    }
}
  
  


// .Item-author {
// }
// .Item-rank {
//   color: white;
//   padding: 8px;
// }
// .Item-weeks {
//   color: white;
//   padding: 8px;
// }
.Item-description{
  // color: white;
  // padding: 8px;
  max-width: 500px;
  text-align: left;
  padding-top: 20px;
  font-family: 'Old Standard TT', serif;
}

.Item-img {
  max-height: 300px;
  max-width: 500px;
  padding: 12px 0px;
}
.Item-content {
  color: white;
  max-width: 500px;
  text-align: left;
  font-family: 'Old Standard TT', serif;
}
}