.Main-header {
background-color: #ccd0d56b;
  margin: 0;
  width: 100vw;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  
  .Main-title {
    margin: 0;
    font-family: 'Old Standard TT', serif;
    text-align: center;
    font-size: 3rem;
    padding-top: 8px;
  }
}