.book-tile {
  border-radius: 8px;
  padding-top: 50px;
  padding-left: 25px;
  font-size: 150%;
  transition: .2s all;
  padding-right: 25px;
}
.book-wrapper:hover .book-tile {
  opacity: .5;
  transform: scale(.98);
  box-shadow: none;
}

.book-wrapper:hover .book-tile:hover{
  filter: blur (0px);
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0 8px 20px 0 px rgba(0,0,0,0.125);
}

.book-rank {
  text-align: left;
  font-family: 'Old Standard TT', serif;
  font-size: 0.9rem;
  padding: 5px 0px;
  color:white;
}

.book-img {
  height: 267px;
  box-shadow: 3px 3px 8px 3px #a99a9a;
  border-radius: 1px;
  min-width: 172px;
}
.author {
  @include authors( 12px, left, 5px);
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 16px;
  color:white;
}
.book-weeks {
  font-size: 0.8rem;
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  padding: 7px 0px;
  color:white;
}
.book-title {
  @include titles(.9rem, 1.1875rem, 700, left, 3px);
  font-family: 'Noto Sans', sans-serif;
  color:white;
}

.book-description {
  @include tiles(left, 1rem, 6px );
  font-family: 'Old Standard TT', serif;
  color:white;

}
.book-favorite {
  display: none;
  position: relative;
  top: 34px;
  width: 25px;
  left: 66px
}

.book-nofavorite{
  display: none;
  position: relative;
  top: 34px;
  width: 25px;
  left: 66px;
}